// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$butterp: #fff6bf;
$butterplight: #f2f0e95c;
$white: #fffff2;
$grey: #4A4737;
$black: #2B2320;
$blup: #95B1AE;
