
<div>
  <section class="about-sec">
    <div class="grey">
    </div>
    <p class="about-txt1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatibus temporibus eos, modi in quo, atque est corporis nihil fugiat sequi, illum officiis? Blanditiis voluptas libero iste, doloremque pariatur dolor.</p>
    <%= image_tag('openaiperson.avif', class:"openai-img") %>
    <p class="about-txt2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores earum, quae voluptas error iure eveniet eligendi aliquid vel pariatur tenetur! Distinctio earum porro maxime ex dolores doloremque obcaecati praesentium expedita?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae possimus eius impedit commodi aliquid deserunt veritatis, expedita consequuntur numquam incidunt quos nam odio, rerum neque explicabo saepe. Voluptatibus, eum nostrum?</p>
  </section>

  <section class="founder-sec">
    <h3 class="founder-header">Project founders</h3>
    <div class="founders">
    <div class="founder">
      <%= image_tag("me.jpeg", class: "founder-img", height: '140', width: '140') %>
      <p><strong>Paul Sessbruegger</strong></p>
      <p class="founder-txt">Commited programmer with a passion for tech and a heart for AI.</p>
    <div class="founder">
      <%= image_tag("me.jpeg", class: "founder-img", height: '140', width: '140') %>
      <p><strong>Paul Sessbruegger</strong></p>
      <p class="founder-txt">Commited programmer with a passion for tech and a heart for AI.</p>
    </div>
    </div>
  </section>
</div>

