<div class="profilebox">
  <%= image_tag("profile-picture.webp", class: "profpage-img") %>
  <p class="user-email"><%= current_user.email %></p>
</div>
<div class="ownposts">
  <% @posts.each do |post| %>
    <div>
      <strong><%= post.name %></strong><br>
      <%= post.description %>
    </div>
  <% end %>

</div>

<style>
  .profpage-img{
    border-radius: 50%;
    width: 20%;
  }
  .profilebox{
    margin: 5% 1% 1% 5%;
    display: flex;
    flex-direction: column;
  }
  .user-email{
    width: fit-content;
    margin-left: 6%;
  }
  .ownposts{
    width: 50%;
    float: right;
    border: solid black 1px;
  }
</style>
