
  <%= link_to posts_path do %>
    <i class="fa-solid fa-angles-left"></i>
  <% end %>

<i class="fa-solid fa-feather feather"></i>

<div class="new-post-form">
  <h1>Share your outcome</h1>
  <%= render "form", post: @post %>
</div>

<br>


<style>
.new-post-form{
  width: 50%;
  margin: auto;
}
.feather{
  font-size: 100px;
  float: right;
  margin-top: 10%;
  margin-right: 7%;
}
</style>
